# Arquivos da build do eclipse.
/target

# Arquivos de configuração do eclipse.
.classpath
.project
.settings/

# Arquivos de log
*.log
*.log.????-??

# Arquivos de configuração do IntelliJ
.idea/
SincapEntities.iml

#Sincap Properties
/src/main/resources/sincap.properties
/src/test/resources/sincap.properties


