<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <!-- HIBERNATE CONFIG -->
    <import resource="classpath:spring-hibernate.xml" />

    <!-- Shared Config -->
    <import resource="classpath:spring-shared-context.xml" />

    <bean id="mapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>dozerBeanMapping.xml</value>
            </list>
        </property>
    </bean>

    <bean id="factory" class="br.ifes.leds.reuse.utility.Factory" factory-method="getInstance" />
    <bean id="validador" class="br.ifes.leds.reuse.utility.Validator" factory-method="getInstance" />
    <bean id="dataFactory" class="org.fluttercode.datafactory.impl.DataFactory" />

</beans>