<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <beans>
    <context:component-scan base-package="br.ifes.leds"/>
    <context:property-placeholder />

    <!-- Não funciona no Java Config por algum motivo desconhecido -->
    <bean id="mapper" class="org.dozer.DozerBeanMapper">
      <property name="mappingFiles">
        <list>
          <value>dozerBeanMapping.xml</value>
        </list>
      </property>
    </bean>
  </beans>
</beans>