<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <beans>
        <context:component-scan base-package="br.ifes.leds"/>
        <context:property-placeholder />


        <aop:aspectj-autoproxy />

        <bean id="AplFuncionario" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplFuncionario" />
        <bean id="AplCaptador" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplCaptador" />
        <bean id="AplNotificador" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplNotificador" />
        <bean id="AplAnalistaCNCDO" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplAnalistaCNCDO" />
        <bean id="AplInstituicaoNotificadora" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplInstituicaoNotificadora" />
        <bean id="AplHospital" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplHospital" />
        <bean id="AplPrincipal" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplPrincipal" />
        <bean id="AplCadastroInterno" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplCadastroInterno" />
        <bean id="AplBancoOlhos" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplBancoOlhos" />
        <bean id="AplSetor" class="br.ifes.leds.sincap.controleInterno.cln.cgt.AplSetor" />
        <bean id="AplCaptacao" class="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplCaptacao" />
        <bean id="AplCausaNaoDoacao" class="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplCausaNaoDoacao" />
        <bean id="AplComentario" class="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplComentario" />
        <bean id="AplEntrevista" class="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplEntrevista" />
        <bean id="AplObito" class="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplObito" />
        <bean id="AplProcessoNotificacao" class="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplProcessoNotificacao" />
        <bean id="AplRelatorio" class="br.ifes.leds.sincap.gerenciaNotificacao.cln.cgt.AplRelatorio" />



        <!-- Aspect -->
        <bean id="logAspect" class="br.ifes.leds.reuse.utility.Aspect" />
        <!-- Não funciona no Java Config por algum motivo desconhecido -->
        <bean id="mapper" class="org.dozer.DozerBeanMapper">
            <property name="mappingFiles">
                <list>
                    <value>dozerBeanMapping.xml</value>
                </list>
            </property>
        </bean>
    </beans>
</beans>